<a href="https://colab.research.google.com/github/saimahesh16/adv-pprog/blob/master/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert a decimal number to Binary

In [19]:
def decimalToBinary(num):
    if num > 1:
        decimalToBinary(num//2)
    print(num%2,end='')
number = int(input("enter any decmal number: "))
decimalToBinary(number)

enter any decmal number: 3
11

. Generate the following pattern
  	*
   	*  *
	*  *  *
 	*  *  *  *
 	*  *  *  *  *

# This is formatted as code
```	
	   *
   	*  *
	*  *  *
 	*  *  *  *
 	*  *  *  *  *

```

In [0]:
for i in range (1,5+1):
  for j in range (1,i):
     print("*", end=" ")
  print('\n')

*

* *

* * *

* * * *

Display multiplication table of K. Take k value from user
 	Ex:      7 x 1 =7
    		7 x 2 = 14

In [0]:
k=int(input("enter k value"))
for i in range(1,10):
    print(k, 'x',i,'=', k*i)

enter k value7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

Generate first N number of Fibonacci numbers. Take N value from the user

In [20]:
def printFibonacciNumbers(n): 
      
    x1 = 0
    x2 = 1
    if (n < 1): 
        return
    for x in range(0, n): 
        print(x2, end = " ") 
        next = x1 + x2 
        x1 = x2 
        x2 = next
printFibonacciNumbers(5)

1 1 2 3 5

 Roots of quadratic equation
  	Take the coefficients a,b,c from the user

In [21]:
from math import sqrt

print("Quadratic function : (a * x^2) + b*x + c")
a = float(input("a: "))
b = float(input("b: "))
c = float(input("c: "))

r = b**2 - 4*a*c

if r > 0:
    num_roots = 2
    x1 = (((-b) + sqrt(r))/(2*a))     
    x2 = (((-b) - sqrt(r))/(2*a))
    print("There are 2 roots: %f and %f" % (x1, x2))
elif r == 0:
    num_roots = 1
    x = (-b) / 2*a
    print("There is one root: ", x)
else:
    num_roots = 0
    print("No roots, discriminant < 0.")

Quadratic function : (a * x^2) + b*x + c
a: 2
b: 3
c: 5
No roots, discriminant < 0.