In [2]:
for i in range(0,5):
  if(i%2==0):
    print(i)
  else:
    break

0

In [3]:
for i in range(1,10):
  if(i%5==0):
    continue
  else:
    print(i)

1
2
3
4
6
7
8
9

In [6]:
username=input()
while username!="python":
  username=input()
  password=input("enter password")
while username=="python" and password!="456":
  password=input("enter correct password")

python
enter correct password456

In [0]:
if 12 < 34:
    pass
else:
    print("else")

In [44]:
while True:
    user = input("enter your name: ")
    if user == "python":
        pwd = input("enter your password: ")
        if pwd == "abc123":
            print("login successs!!")
            break
    else:
        continue

enter your name: python
enter your password: abc123
login successs!!

In [16]:
def name(username):
     print("hello",username)
name("mahesh")

hello mahesh

In [17]:
def addition(a,b):
    return a+b
print(addition(100,300))
print(addition(400,300))

400
700

In [19]:
def addition(a,b):
    return a+b,a-b,a*b,a/b
add,sub,mul,div = addition(20,30)
print(mul)

600

In [20]:
def name(a,b,c):
    return a/b,a+c
name(100,20,40)

(5.0, 140)

In [21]:
def name(a,b,c):
    return a/b,a+c
print(name(100,20,40))
a,b=name(100,10,2)
print(a)

(5.0, 140)
10.0

In [22]:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b = 10, a = 20)

a value: 20
b value: 10

30

In [23]:
def add(a,b=23):
  return a+b
add(56)

79

In [24]:
add(23,43)

66

In [25]:
def add(*a):
    return sum(a)
print(add(10,30))
print(add(14,350,45))
print(add(40,30,50,60))

40
409
180

In [26]:
def add(*a):
    m = 1
    for i in a:
        m = m*i
    return m
print(add(10,30))
print(add(14,350,45))
print(add(40,30,50,60))

300
220500
3600000

In [29]:
def square(a):
    return a*a
def cube(x):
    square(x)*x
print(square(10))
print(cube(10))

100
None

In [32]:
list1 = [12,23.45,True,"abc",12]
print(type(list1))

<class 'list'>

In [38]:
list1 = [1,2,3]
list2 = [10,20,30]
print(list1+list2)
print(list1*3)
print(list1[1])
print(list1[1:3])
print(2 in list1)
print(200 in list1)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [39]:
list1 = [1,2,3,"python"]
list1[3][2]

't'

In [40]:
list1 = [1,2,3,40]
print(len(list1))
print(min(list1))
print(max(list1))

4
1
40

In [42]:
list1 = [1,2,3,40]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] = 100
print(list1)

4
1
40
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]